.gallery {
  display: grid;
  // width: 100%;
  margin: 0 auto;
  grid-template: repeat(9, 200px) / repeat(3, minmax(300px, 533px));
  max-width: 1600px;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    grid-template: repeat(13, 200px) / repeat(2, minmax(250px, 1fr));
  }
  @media screen and (max-width: 570px) {
    display: flex;
    flex-wrap: wrap;
  }
  & div:nth-child(4) {
    @media screen and (min-width: 1200px) {
      &::after {
        bottom: -10px;
      }
    }
    @media screen and (min-width: 570px) {
      &::after {
        top: -10px;
      }
    }
    @media screen and (max-width: 570px) {
      order: 4;
    }
  }
  & div:nth-child(5) {
    @media screen and (max-width: 570px) {
      order: 6;
    }
  }
  & div:nth-child(6) {
    @media screen and (max-width: 570px) {
      order: 5;
    }
  }
  & div:nth-child(8) {
    @media screen and (max-width: 570px) {
      order: 8;
    }
  }
}

.card {
  // height: 100%;
  grid-row: span 2;
  background-color: #fff;
  text-align: center;
  padding: 60px 16px 0;
  // align-self: start;
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin: 0 auto;
    transform: rotate(45deg);
    bottom: -10px;
    left: calc(50% - 10px);
    position: absolute;

    z-index: 2;
  }
}
.card__img {
  margin-bottom: 28px;
}
.card__headline {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: $main-font;
  color: $headline-color;
}

.card__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: $main-font;
  color: $text-color;
  line-height: 1.4;
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: $text-color;
    margin: 40px auto;
  }
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery__item {
  position: relative;
}
.gallery__item--img {
  picture {
    height: 100%;
    width: 100%;
  }
}

.gallery__item--middle {
  grid-row: span 3;
  @media screen and (max-width: 1200px) {
    grid-row: span 1.5;
  }
  @media screen and (max-width: 570px) {
    height: 400px;
    width: 50%;
    order: 10;
  }
}
.gallery__item--big {
  grid-column: span 2;
  grid-row: span 3;
  min-width: 300px;
  @media screen and (max-width: 570px) {
    height: 400px;
    width: 100%;
  }
}
.gallery__item--small {
  @media screen and (max-width: 1200px) {
    &-black {
      grid-area: 4/2/5/3;
      @media screen and (max-width: 570px) {
        height: 200px;
        width: 100%;
        order: 5;
      }
    }
    &-red {
      grid-area: 6/1/7/2;
      @media screen and (max-width: 570px) {
        height: 200px;
        width: 100%;
        order: 3;
      }
    }
  }
  @media screen and (max-width: 570px) {
    height: 200px;
    width: 100%;
    order: 8;
  }
}
.discover {
  padding: 75px 0;
  background-color: #282f35;
  &__btn {
    font-size: 14px;
    font-weight: 700;
    font-family: $main-font;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    transition: $main-animation;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 300px;
    height: 50px;
    &:hover {
      color: #282f35;
      background-color: white;
    }
  }
}
