.shop {
  display: grid;
  max-width: 1600px;
  grid-template: repeat(2, 267px) / repeat(6, 267px);
  margin: 0 auto;
  justify-content: center;
}
.shop__item--big-row {
  grid-column: span 2;
}
.shop__item--big-column {
  grid-row: span 2;
}

.shop__img {
  transition: $main-animation;
  object-fit: cover;
  position: relative;
}
.shop__item {
  position: relative;
  transition: $main-animation;
  &:hover .shop__overlay {
    opacity: 1;
  }
  &:hover .shop__btn {
    opacity: 1;
  }
  & picture {
    width: 100%;
    height: 100%;
  }
}
.shop__overlay {
  opacity: 0;
  background: linear-gradient(0deg, rgba(100, 194, 158, 0.8701681356136204) 100%, rgba(100, 194, 158, 1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: $main-animation;
}
.shop__btn {
  opacity: 0;
  z-index: 3;
  letter-spacing: 0.6px;
  font-size: 12px;
  font-weight: 700;
  font-family: $main-font;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition: $main-animation;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: "";
    display: block;
    width: 51px;
    height: 30px;
    background: url(../img/shop-icon.png);
    background-repeat: no-repeat;
    margin: 0 auto 14px;
  }
}
